@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
body {
  font-family: "NunitoSans", sans-serif;
  color: #222222;
  margin: 0;
  display: block;
  box-sizing: border-box;
  height: calc(100vh + 200px);
  font-size: 16px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1em; }

h3 {
  font-size: calc(20em/16);
  font-weight: 600; }

h4 {
  font-size: 1em;
  font-weight: 700; }

.headline {
  font-size: calc(14em/16);
  font-weight: 700; }

.title {
  font-size: calc(12em/16);
  font-weight: 700; }

.subheading {
  font-size: calc(12em/16);
  font-weight: normal;
  color: #707070; }

.title-body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal; }

p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #707070;
  font-size: calc(12/16 em); }

a {
  text-decoration: none; }

a.active {
  color: #222222; }

.title-label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #222222;
  font-size: 11px; }

.label,
label {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #222222;
  font-size: 11px; }

section {
  padding: 15px 0; }

.wrap {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 120px; }

.img-responsive {
  max-width: 100%; }

.centered {
  text-align: center; }

.container {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.header-space {
  padding-top: 68px !important; }

.list-unstyled {
  list-style: none;
  padding: 0; }

body.no-scroll .laydim {
  cursor: pointer; }

.laydim {
  background: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 90; }

.no-scroll {
  overflow: hidden; }

.slide_layer {
  z-index: 99;
  width: 100%;
  position: fixed;
  background: #F1F2F4;
  bottom: 0;
  padding-bottom: 0; }
  .slide_layer .content {
    position: relative;
    padding: 0;
    overflow-y: auto;
    padding-bottom: 0; }

.carousel {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 15px; }
  .carousel:after {
    min-width: 1px;
    content: "";
    display: block;
    position: relative; }
  .carousel::-webkit-scrollbar {
    display: none; }
  .carousel li {
    flex: 0 0 auto; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: calc(50vh);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  top: 50%;
  transform: translateY(-50%); }

#main-header {
  position: fixed;
  z-index: 40;
  width: 100%;
  background-color: transparent; }
  #main-header.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear; }
  #main-header .nav-header {
    display: flex;
    align-items: center;
    z-index: 40;
    padding: 15px; }
  #main-header .header-search-wrapper {
    position: relative;
    background: white;
    width: calc(100% - 70px);
    max-width: 600px;
    border: 1px solid #D1D3D4;
    border-radius: 8px;
    height: 36px;
    line-height: 18px;
    display: flex;
    align-items: center; }
    #main-header .header-search-wrapper .search {
      width: 100%;
      border: none;
      height: 30px;
      background: transparent; }
      #main-header .header-search-wrapper .search:focus {
        outline: none; }
      #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:placeholder-shown {
        background-image: url(../icons/iStyle\ Logo@2x.png);
        background-repeat: no-repeat;
        background-size: 43px 17px;
        height: 16px; }
        #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:placeholder-shown::-webkit-input-placeholder {
          /* WebKit browsers */
          color: transparent; }
        #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:placeholder-shown:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: transparent; }
        #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:placeholder-shown::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: transparent; }
        #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:placeholder-shown:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: transparent; }
      #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:focus::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #707070; }
      #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:focus:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #707070; }
      #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:focus::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #707070; }
      #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:focus:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #707070; }
      #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:focus, #main-header .header-search-wrapper .search#istyle-search:placeholder-shown:not(:placeholder-shown) {
        background-image: none; }
    #main-header .header-search-wrapper .search-icon {
      background: url(../icons/svg/search.svg);
      display: inline-block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 10px;
      margin-right: 10px; }
  #main-header .icons-wrapper {
    margin-left: auto;
    display: flex; }
    #main-header .icons-wrapper .btn-wishlist {
      background: url(../icons/svg/fav.svg);
      display: inline-block;
      width: 22px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 10px; }
    #main-header .icons-wrapper .btn-notification {
      background: url(../icons/svg/notification.svg);
      display: inline-block;
      width: 22px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain; }

.section-header {
  display: flex;
  align-items: center; }
  .section-header h2 {
    margin: 0; }
  .section-header .view-all {
    margin-left: auto;
    text-decoration: none;
    color: #F18F04;
    font-weight: 700;
    font-size: 14px; }
  .section-header .countdown {
    margin-left: 3px; }
    .section-header .countdown .countdown_timer {
      background-color: #222222;
      color: white;
      padding: 2px;
      border-radius: 5px;
      margin: 0 3px;
      font-size: 14px;
      font-weight: 600; }

#main-banner-section {
  width: 100%;
  margin: 0;
  padding: 0; }
  #main-banner-section .slick-track {
    display: flex !important;
    align-items: center; }
  #main-banner-section #main-banner {
    margin-top: 0;
    visibility: hidden;
    display: flex;
    flex-wrap: nowrap;
    /* slide when not active/center*/
    /* slide when active/center */ }
    #main-banner-section #main-banner.slick-initialized {
      visibility: visible; }
    #main-banner-section #main-banner li {
      flex: 0 0 auto; }
    #main-banner-section #main-banner .banner {
      display: inline-block;
      width: 100%; }
      #main-banner-section #main-banner .banner a {
        display: block;
        margin: 0; }
        #main-banner-section #main-banner .banner a img {
          border-radius: 6px;
          width: 100%; }
    #main-banner-section #main-banner .slick-dots li {
      width: auto;
      height: auto; }
      #main-banner-section #main-banner .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 7px;
        height: 7px;
        padding: 2px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        border-radius: 100%;
        background: #EAEAEA; }
        #main-banner-section #main-banner .slick-dots li button:before {
          content: "";
          width: 7px;
          height: 7px; }
      #main-banner-section #main-banner .slick-dots li.slick-active button {
        background: #FDCA3D; }
    #main-banner-section #main-banner .slick-slide,
    #main-banner-section #main-banner .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
      transform: scale(0.92, 0.92);
      transition: transform 0.3s; }
    #main-banner-section #main-banner .slick-center,
    #main-banner-section #main-banner .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
      transform: scale(1, 1); }

#brand-of-the-week {
  background-color: #F3F5F6; }
  #brand-of-the-week .section-header a {
    color: #AAAAAA; }
  #brand-of-the-week .botw-list li {
    background: white;
    border-radius: 8px;
    width: 129px;
    margin-right: 10px; }
    #brand-of-the-week .botw-list li a {
      text-decoration: none; }
      #brand-of-the-week .botw-list li a p {
        color: #222222;
        font-size: 11px;
        font-family: "Roboto";
        text-decoration: none;
        text-align: center; }
    #brand-of-the-week .botw-list li img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      height: 100px;
      object-fit: cover; }

@media only screen and (min-width: 768px) {
  #main-menu .main-menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px; } }
#main-menu .main-menu-items li {
  display: flex;
  justify-content: center;
  margin-right: 10px; }
  #main-menu .main-menu-items li img {
    height: 53px;
    max-width: 100%; }
  #main-menu .main-menu-items li p {
    font-size: 11px;
    text-align: center;
    margin: 2px 0; }

.promo-partner-list li {
  width: 130px;
  margin-right: 10px; }
  .promo-partner-list li a {
    text-decoration: none; }
  .promo-partner-list li img {
    max-width: 100%;
    border-radius: 10px; }

.prd-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px; }
  .prd-list.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; }
    .prd-list.carousel li {
      flex: 0 0 auto;
      width: calc(50% - 30px);
      margin-right: 15px; }
      @media only screen and (min-width: 600px) {
        .prd-list.carousel li {
          width: calc(25% - 30px); } }
  .prd-list li a {
    text-decoration: none;
    display: block; }
    .prd-list li a .prd-img {
      min-height: 133px;
      position: relative; }
      .prd-list li a .prd-img img {
        border-radius: 10px;
        max-width: 100%;
        border: 1px solid #E5E5E5; }
      .prd-list li a .prd-img .m_logo {
        position: absolute;
        top: 10px;
        left: 0;
        width: 35px;
        height: 12.5px; }
        .prd-list li a .prd-img .m_logo.kino {
          height: 47px;
          width: 10px;
          left: 5px; }
        .prd-list li a .prd-img .m_logo img {
          border-radius: 0;
          border: 0;
          width: 100%; }
      .prd-list li a .prd-img .ico_logo {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 35px;
        height: 35px; }
        .prd-list li a .prd-img .ico_logo img {
          border: none;
          width: 100%; }
    .prd-list li a .prd-desc p {
      color: #222222;
      font-size: calc(12em /16);
      line-height: 16px; }
    .prd-list li a .prd-desc .prd-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 32px; }
    .prd-list li a .prd-desc .brand-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 16px; }
    .prd-list li a .prd-price-area {
      display: flex;
      align-items: center; }
      .prd-list li a .prd-price-area p {
        margin: 0; }
      .prd-list li a .prd-price-area .prd-price {
        position: relative; }
        .prd-list li a .prd-price-area .prd-price .old-price {
          position: absolute;
          top: 0;
          font-family: "Roboto";
          color: #707070;
          font-size: calc(11em/16);
          font-style: italic;
          text-decoration: line-through; }
        .prd-list li a .prd-price-area .prd-price .price {
          padding-top: 12px;
          font-family: "NunitoSans";
          font-weight: 700;
          font-size: calc(12em/16);
          color: #FE3E4C; }
      .prd-list li a .prd-price-area .prd-discount {
        background-color: #FECB3E;
        padding: 4px 6px;
        border-radius: 10px;
        margin-left: auto;
        font-size: calc(11em/16);
        color: #222222;
        font-family: "Roboto";
        font-weight: bold; }
    .prd-list li a .prd-rating-fav-area {
      display: flex;
      z-index: 1;
      margin-top: 10px;
      align-items: center; }
      .prd-list li a .prd-rating-fav-area .score-star-box {
        display: flex;
        align-items: center;
        background: url(../sprites/star-rating-sprites.png) no-repeat 0 -12px;
        height: 12px;
        width: 60px;
        display: inline-block;
        background-size: 60px;
        overflow: hidden; }
        .prd-list li a .prd-rating-fav-area .score-star-box .star-rating {
          background: url(../sprites/star-rating-sprites.png) no-repeat 0 0;
          height: 15px;
          width: 60px;
          display: inline-block;
          background-size: 60px; }
      .prd-list li a .prd-rating-fav-area .score-txt {
        font-size: 11px;
        font-family: "Roboto";
        margin-left: 2px; }
      .prd-list li a .prd-rating-fav-area .wishlist-icon {
        margin-left: auto;
        width: 20px;
        height: 18px;
        cursor: pointer;
        background-image: url(../icons/svg/fav.svg);
        background-size: contain;
        display: inline-block;
        cursor: pointer;
        background-repeat: no-repeat; }
        .prd-list li a .prd-rating-fav-area .wishlist-icon.active {
          background-image: url(../icons/svg/fav-active.svg); }
    .prd-list li a .prd-icons {
      display: flex;
      align-items: center;
      height: 30px; }
      .prd-list li a .prd-icons .icon {
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block; }
      .prd-list li a .prd-icons .voucher {
        background-image: url(../icons/svg/voucher.svg);
        height: 15px;
        width: 19px;
        margin-right: 5px; }
      .prd-list li a .prd-icons .cashback {
        background-image: url(../icons/svg/cashback.svg);
        height: 16px;
        width: 16px; }
      .prd-list li a .prd-icons .free-delivery {
        background-image: url(../icons/svg/free-shipping.svg);
        height: 13px;
        width: 19px;
        margin-left: auto; }
  @media only screen and (min-width: 768px) {
    .prd-list {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.tab-content {
  display: none; }
  .tab-content.in {
    display: block; }

.nav-tab li {
  margin-right: 10px; }
  .nav-tab li a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: block;
    height: 36px;
    width: auto;
    padding: 0 10px;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    text-align: center;
    line-height: 36px;
    color: #222222;
    font-weight: 600;
    font-family: "Roboto";
    font-size: 14px;
    box-sizing: border-box; }
  .nav-tab li.active a {
    color: white;
    border: 0;
    background: transparent linear-gradient(245deg, #FECB3E 0%, #FE9E3E 100%) 0% 0% no-repeat padding-box; }

.articles li {
  width: 230px;
  margin-right: 10px; }
  .articles li .article-img-container {
    min-height: 130px; }
    .articles li .article-img-container img {
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
      height: 130px; }
  .articles li .vid-article .article-img-container {
    position: relative; }
    .articles li .vid-article .article-img-container:after {
      position: absolute;
      left: calc(50% - (56px/2));
      top: calc(50% - (39px/2));
      background-image: url(../icons/Play\ Button@2x.png);
      width: 56px;
      height: 39px;
      background-size: contain;
      display: inline-block;
      content: ""; }
  .articles li .article-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #222222;
    font-size: 12px;
    margin: 10px 0 0; }

.spc-product-section {
  padding: 15px 0; }

.highlighted-prd-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px; }
  .highlighted-prd-list.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; }
    .highlighted-prd-list.carousel li {
      flex: 0 0 auto;
      width: calc(50% - 20px);
      margin-right: 15px; }
      @media only screen and (min-width: 768px) {
        .highlighted-prd-list.carousel li {
          width: calc(25% - 30px); } }
  .highlighted-prd-list li {
    background: white;
    border-radius: 10px;
    padding-bottom: 10px; }
    .highlighted-prd-list li a {
      text-decoration: none;
      display: block;
      position: relative; }
      .highlighted-prd-list li a .prd-discount {
        position: absolute;
        top: 7px;
        left: 5px;
        background-color: #FECB3E;
        border-radius: 100%;
        height: 36px;
        width: 36px;
        font-size: 12px; }
        .highlighted-prd-list li a .prd-discount p {
          margin: 0;
          color: #222222;
          font-weight: 700;
          text-align: center;
          line-height: 36px; }
      .highlighted-prd-list li a .prd-img {
        min-height: 133px; }
        .highlighted-prd-list li a .prd-img img {
          border-radius: 10px;
          max-width: 100%; }
      .highlighted-prd-list li a .prd-desc {
        padding: 0 10px; }
        .highlighted-prd-list li a .prd-desc p {
          color: #222222;
          font-size: calc(12em /16);
          line-height: 16px; }
        .highlighted-prd-list li a .prd-desc .prd-name {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 32px;
          margin: 0; }
        .highlighted-prd-list li a .prd-desc .brand-name {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 16px;
          margin: 5px 0; }
      .highlighted-prd-list li a .prd-price-area {
        padding: 0 10px;
        display: flex;
        align-items: center;
        margin: 5px 0; }
        .highlighted-prd-list li a .prd-price-area p {
          margin: 0; }
        .highlighted-prd-list li a .prd-price-area .prd-price {
          position: relative; }
          .highlighted-prd-list li a .prd-price-area .prd-price .old-price {
            position: absolute;
            top: 0;
            font-family: "Roboto";
            color: #707070;
            font-size: calc(11em/16);
            font-style: italic;
            text-decoration: line-through; }
          .highlighted-prd-list li a .prd-price-area .prd-price .price {
            padding-top: 12px;
            font-family: "NunitoSans";
            font-weight: 700;
            font-size: calc(12em/16);
            color: #FE3E4C; }
        .highlighted-prd-list li a .prd-price-area .prd-discount {
          background-color: #FECB3E;
          padding: 4px 6px;
          border-radius: 10px;
          margin-left: auto;
          font-size: calc(11em/16);
          color: #222222;
          font-family: "Roboto";
          font-weight: bold; }

.bottom-nav {
  width: 100%;
  z-index: 40;
  background: white;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 60px 1fr 1fr;
  text-align: center;
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px; }
  .bottom-nav a {
    text-decoration: none;
    font-size: 12px; }
    .bottom-nav a .icon {
      height: 18px;
      width: auto;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 5px;
      background-size: contain; }
      .bottom-nav a .icon.account {
        background-image: url(../icons/bottom-nav/account-icon.svg); }
      .bottom-nav a .icon.home {
        background-image: url(../icons/bottom-nav/home-icon.svg); }
      .bottom-nav a .icon.cart {
        background-image: url(../icons/bottom-nav/cart-icon.svg); }
      .bottom-nav a .icon.category {
        background-image: url(../icons/bottom-nav/category-icon.svg); }
    .bottom-nav a.active .icon.account, .bottom-nav a:hover .icon.account {
      background-image: url(../icons/bottom-nav/account-icon-active.svg); }
    .bottom-nav a.active .icon.home, .bottom-nav a:hover .icon.home {
      background-image: url(../icons/bottom-nav/home-icon-active.svg); }
    .bottom-nav a.active .icon.cart, .bottom-nav a:hover .icon.cart {
      background-image: url(../icons/bottom-nav/cart-icon-active.svg); }
    .bottom-nav a.active .icon.category, .bottom-nav a:hover .icon.category {
      background-image: url(../icons/bottom-nav/category-icon-active.svg); }
  .bottom-nav button {
    border: 0;
    background-image: linear-gradient(to bottom, #FEE43E, #FE9E3E);
    border-radius: 15px;
    height: 60px;
    margin-top: -45px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center; }

#bottom-nav-slide {
  padding: 0;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px; }
  #bottom-nav-slide .content {
    position: relative; }
  #bottom-nav-slide #brand-mall_section {
    margin-left: auto;
    margin-right: auto;
    background-color: #E1E4E9;
    padding: 15px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px; }
    #bottom-nav-slide #brand-mall_section #brand-mall-menu .brand {
      margin: 0 8px; }
    #bottom-nav-slide #brand-mall_section .brand-mall-item {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 16px; }
      @media only screen and (min-width: 550px) {
        #bottom-nav-slide #brand-mall_section .brand-mall-item {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }
      #bottom-nav-slide #brand-mall_section .brand-mall-item a {
        display: block;
        width: 100%; }
        #bottom-nav-slide #brand-mall_section .brand-mall-item a img {
          width: 100%; }
  #bottom-nav-slide #brand-mall-footer {
    padding: 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #bottom-nav-slide #brand-mall-footer .progress {
      display: block;
      width: 70%;
      height: 4px;
      border-radius: 20px;
      overflow: hidden;
      background-color: #CDD2DB;
      background-image: linear-gradient(to right, #9EA3AC, #9EA3AC);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size .4s ease-in-out; }
    #bottom-nav-slide #brand-mall-footer .view-all a {
      font-size: 12px;
      color: #707070; }
  #bottom-nav-slide #mall-in-mall_section {
    padding: 0; }
  #bottom-nav-slide #mall-in-mall-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    #bottom-nav-slide #mall-in-mall-menu .slick-track {
      display: flex;
      align-items: center; }
    #bottom-nav-slide #mall-in-mall-menu li a {
      display: flex;
      justify-content: center;
      box-sizing: border-box; }
      #bottom-nav-slide #mall-in-mall-menu li a img {
        width: 100%;
        border-radius: 30px; }
    #bottom-nav-slide #mall-in-mall-menu .slick-slide {
      transform: scale(0.7, 0.7);
      transition: transform 0.3s; }
      #bottom-nav-slide #mall-in-mall-menu .slick-slide.slick-center {
        transform: scale(0.9, 0.9); }
        #bottom-nav-slide #mall-in-mall-menu .slick-slide.slick-center img {
          border: 5px solid white; }
  #bottom-nav-slide .title_section {
    width: 100vw;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 10px 0;
    text-align: center;
    background: white;
    font-weight: 600; }
    #bottom-nav-slide .title_section .chevron-bottom {
      background: url(../icons/svg/chevron-down.svg) no-repeat;
      width: 18px;
      height: 18px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-size: contain;
      margin-top: 6px; }

/* slide when not active/center*/
/* slide when active/center */

/*# sourceMappingURL=layout.css.map */
